img {
    width: 150px;
}

.eventos {
    padding: 40px 50px;

    max-width: 100%;
}

.evento h2 {
    font-size: clamp(20px, 2vw, 30px);
    font-weight: 800;
    white-space: nowrap;
    text-decoration: underline,
    color: #1C58DB;
    margin-bottom: 20px;
}