img {
    width: 150px;
}

.eventos {
    display: flex;
    flex-direction: column;
    padding: 40px 50px;

    max-width: 100%;
}

.evento {
    padding-bottom: 30px
}

.evento h2 {
    font-size: clamp(20px, 2vw, 30px);
    font-weight: 800;
    white-space: nowrap;
    text-decoration: underline;
    color: #1C58DB;

    margin-bottom: 10px;
}

.evento p {
    font-size: auto;
    
    justify-content: center;

    text-align: justify;
    hyphens: auto;
}

.evento b {
    color: #0077ffff;
    font-weight: 800;
}

.evento h2:hover {
    cursor: pointer;
}