* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;

    /* background-color: red; */
}

.header h1 {
    margin-left: 15px;
}

#header-logo {
    width: 50px;
    height: 50px;

    border-radius: 40%;
}
.header-nav {
    display: flex;
    justify-content: center;

    padding-top: 7.5px;
    padding-bottom: 7.5px;


    background-color: #1C58DB;
}

.header-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 1100px;

    padding: 0;

    list-style: none;
}

.header-nav ul li a {
    text-decoration: none;
    color: white;
}

.quienes-somos {
    display: flex;

    width: 100%;
    height: 30vw;

    
    background-image: url(../resources//test_img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-color: grey
}

.quienes-somos div {
    display: flex;
    flex-direction: row;

    padding: 30px 50px;

    backdrop-filter: blur(5px);
}

#quienes-somos-text {
    display: flex;
    flex-direction: column;
    /* align-items: center; */

    padding: 10px;
}

#quienes-somos-text h2 {
    font-size: 30px;
    font-weight: 800;
    white-space: nowrap;

    padding: 10px;
    margin-bottom: 20px;

    border-radius: 40px;

    background-color: #1C58DB;
}

#quienes-somos-text p {
    justify-content: center;
    color: white;
}

#quienes-somos-img {

}

#quienes-somos-img button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 50px;

    font-size: 30px;
    font-weight: 800;
    color: white;

    background-color: rgba(0, 0, 0, 0.556);
    border: 0;
    /* border-radius: 10px 0 0 10px; */

    transition: 0.25s;
}

#quienes-somos-img button:hover {
    font-size: 35px;
}