/* =========== QUIENES SOMOS =========== */

.quienes-somos {
    display: flex;
    justify-content: center;

    width: 100%;
    
    background-image: url(../resources//test_img.jpg);
    background-position: center; 
    background-size: 100%;
    background-color: grey
}

.quienes-somos .container { 
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 1fr;

    max-width: 1000px;

    padding-top: clamp(5px, 1.2vw, 25px);
    padding-bottom: clamp(10px, 1.5vw, 30px);
    padding-left: clamp(2px, 1.5vw, 30px);
    padding-right: clamp(2px, 1.5vw, 30px);
    
    /* backdrop-filter: blur(5px); */
}

.background-img



/* -----------> texto <----------- */

#quienes-somos-text {  /* ----------> contenedor */ 
    display: flex;
    flex-direction: column;
    
    padding: 10px 4vw 10px 10px;
}


#quienes-somos-text h2 { /* ----------> subtitulo */ 
    font-size: clamp(20px, 2vw, 30px);
    font-weight: 800;
    white-space: nowrap;
    color: white;
    
    padding: 10px 15px 10px 15px;
    margin-bottom: 20px;
    
    border-radius: 30px;
    
    background-color: #1C58DB;
}

#quienes-somos-text p { /* ----------> parrafo */ 
    font-size: auto;
    color: white;
    
    justify-content: center;
    
    padding: 0px 20px;
}

/* -----------> imagen <----------- */

#quienes-somos-img { /* ----------> contenedor */ 
    width: 100%;
    height: auto;
    
    align-content: center;
    
    overflow: hidden;
}

#quienes-somos-img img{  /* ----------> imagen */  
    width: 100%;
    height: auto;
    
    border: 1px solid   rgba(0, 0, 0, 0.2);
    border-radius: 18% 10px 18% 10px;
    
    background-color: rgba(255, 162, 0, 0.258);
    
    aspect-ratio: auto;
    object-fit: cover;
}

/* -----------> media queries <----------- */

@media (max-width: 600px) {
    
    .quienes-somos .container {
        grid-template-columns: 1fr; /* ------> ajusta la disposicion del grid */
    }
    
    #quienes-somos-img {
        display: none; /* --------> invisibiliza la imagen */
    }
}


/* =========== RETOS DE FABIO =========== */

.retos-fabio {
    display: grid;
    grid-template-columns: 1fr 300px;
    
    text-wrap: nowrap;

    margin-top: 10px;

    background-color: rgb(20, 0, 67);
    background-image: url('../resources/textura.jpg');
    background-size:15vw;
    background-blend-mode:color-burn;
}

/* -----------> texto <----------- */
.retos-fabio div {
    text-align: center;
    align-self: center;
    color: white;
    width: 100%;
}

/* -----------> imagen <----------- */
.retos-fabio img {
    justify-self: end;

    max-width: 200px;
    height: auto;

    margin-right: 100px;
    margin-top: 10px;
}

/* -----------> efecto hover <----------- */
.retos-fabio:hover {
    cursor: pointer;
}

/* -----------> media queries <----------- */

@media (max-width: 600px) {
    .retos-fabio {  /* ----------> ajusta la disposicion del grid */ 
        grid-template-columns: 1fr;
    }

    .retos-fabio img {  /* ----------> desaparece la imagen */ 
        display: none;
    }

    .retos-fabio div {  /* ----------> ajusta el texto y el margen */ 
        font-size: 12px;
        
        padding: 10px;
    }
}


/* =========== ACTIVIDADES Y PROYECTOS =========== */

.actividades-proyectos {
    display: flex;
    flex-direction: column;

    padding-top: clamp(5px, 1.2vw, 25px);
    padding-bottom: clamp(10px, 1.5vw, 30px);
    padding-left: clamp(2px, 1.5vw, 30px);
    padding-right: clamp(2px, 1.5vw, 30px);
    
}

.actividades-proyectos h2 {  /* ----------> subtitulo */ 
    font-size: clamp(20px, 2vw, 30px);
    font-weight: 800;
    text-align: center;
    white-space: nowrap;
    
    padding: 10px 15px 10px 15px;
    margin-bottom: 20px;
}

.actividades-proyectos p {  /* ----------> parrafo */ 
    text-align: center;
    text-wrap: balance;
    
    align-self: center;
    
    max-width: 60%;

    margin-bottom: 40px;
}

/* -----------> proyecto <----------- */

.proyecto { 
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}

/* ----------->> imagen <<----------- */

.proyecto img {
    justify-self: right;
}

/* ----------->> texto <<----------- */

.proyecto div {  /* ----------> contenedor */ 
    display: flex;
    flex-direction: column;
    justify-self: left;

    padding-left: 30px;
    padding-right: 30px;
}

.proyecto div h3 {  /* ----------> subtitulo */ 
    font-size: clamp(15px, 1.5vw, 25px);
    font-weight: 800;
    text-align: center;
    white-space: nowrap;
    
    padding: 10px 15px 10px 15px;
    margin-bottom: 20px;
}

.proyecto div p {  /* ----------> parrafo */ 
    text-align: justify;
    hyphenate-limit-chars: 2;
    text-wrap: balance;
    
    align-self: center;
    
    max-width: 80%;

    margin-bottom: 40px;
}

.proyecto div button {  /* ----------> boton mas */ 
    font-size: 15px;
    font-weight: 800;
    color: white;
    
    align-self: center;

    width: fit-content;

    padding: 15px 30px;
    
    border: none;
    border-radius: 25px;
    background-color: #F29922;
}

/* =========== EVENTOS =========== */

.eventos {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;

    max-width: 100%;

    padding-top: clamp(5px, 1.2vw, 25px);
    padding-bottom: clamp(10px, 1.5vw, 30px);
    padding-left: clamp(2px, 1.5vw, 30px);
    padding-right: clamp(2px, 1.5vw, 30px);
    
    background-color: #1C58DB; 
}

/* -----------> texto <----------- */

.eventos div {
    display: flex;
    flex-direction: column;

    color: white;
}

.eventos div h2 {
    font-size: clamp(20px, 2vw, 30px);
    font-weight: 800;
    text-align: left;
    white-space: nowrap;
    
    padding: 10px 0px;
    margin-bottom: 20px;
}

.eventos div h3 {
    font-size: clamp(15px, 1.5vw, 25px);
    font-weight: 800;
    text-align: left;
    white-space: nowrap;
    
    margin-bottom: 20px;
}

.eventos div p {
    text-align: left;
    /* hyphenate-limit-chars: 2; */
    text-wrap: balance;
    align-self: left;

    margin-bottom: 40px;
}

.eventos div button {
    font-size: 15px;
    font-weight: 800;
    color: #F29922;
    
    align-self: center;

    width: fit-content;

    padding: 15px 30px;
    
    border: none;
    border-radius: 25px;
    background-color: white;
}

/* -----------> imagen <----------- */
.eventos img {
    width: 350px;
}


/* =========== CARRUSEL =========== */

.carrusel {
    display: flex;
    flex-direction: row;

    margin: 0px;
    padding: 0px;

    width: 100%;
    max-height: 400px
}

.carrusel img {
    width: 100%;
    /* object-fit: contain; */
}

.carrusel button {
    font-size: 20px;
    font-weight: 800;
    color: white;
    /* height: 100%; */
    width: 40px;

    border: none;
    border-radius: 0px;
    background-color: #00000080;
}

/* =========== UNETE =========== */

.unete {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;

    max-width: 100%;

    padding-top: clamp(5px, 1.2vw, 25px);
    padding-bottom: clamp(10px, 1.5vw, 30px);
    padding-left: clamp(2px, 1.5vw, 30px);
    padding-right: clamp(2px, 1.5vw, 30px);
}

/* -----------> redes <----------- */

.redes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.redes button {
    width: 50%;

    padding: 15px 0px;
    margin: 20px;

    border: none;
    border-radius: none;

    color: white;
    background-color: black;
}