/* ============ ESTILOS DE PAGINA ============ */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    font-family: 'Open sans', sans-serif;
    margin: 0;
}

.item {
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-sizing: border-box;
    box-shadow: inset 0px 0px 3.5px rgba(255, 255, 255, 0.5), 3px 5px 10px rgba(0, 0, 0, 0.4);
    /* box-shadow:  */
}

img {
    max-width: 100% ;
}

button:hover {
    cursor: pointer;
    scale: 110%;
}

/* ============ HEADER ============ */
.header {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 15px;
    padding-bottom: 15px;
}

.header h1 {  /* ------> titulo */
    font-size: clamp(17px, 4vw, 20px);
    white-space: nowrap;

    margin-left: 15px;
}

#header-logo {  /* ------> logo */
    width: clamp(32px, 7vw, 40px);
    height: clamp(32px, 7vw, 40px);

    border-radius: 40%;
}

/* ========== NAV BAR ========== */
.header-nav {
    display: flex;
    justify-content: center;

    padding-top: 7.5px;
    padding-bottom: 7.5px;


    background-color: #1C58DB;
}

.header-nav ul {  /* ------> lista */
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 1100px;

    padding: 0;

    list-style: none;
}

.header-nav ul li a {  /* ------> links */
    text-decoration: none;
    color: white;
}