/* ============ ESTILOS DE PAGINA ============ */
* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

img {
    max-width: 100% ;
}

/* ============ HEADER ============ */
.header {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 15px;
    padding-bottom: 15px;
}

.header h1 {  /* ------> titulo */
    font-size: clamp(17px, 4vw, 20px);
    white-space: nowrap;

    margin-left: 15px;
}

#header-logo {  /* ------> logo */
    width: clamp(32px, 7vw, 40px);
    height: clamp(32px, 7vw, 40px);

    border-radius: 40%;
}

/* ========== NAV BAR ========== */
.header-nav {
    display: flex;
    justify-content: center;

    padding-top: 7.5px;
    padding-bottom: 7.5px;


    background-color: #1C58DB;
}

.header-nav ul {  /* ------> lista */
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 1100px;

    padding: 0;

    list-style: none;
}

.header-nav ul li a {  /* ------> links */
    text-decoration: none;
    color: white;
}