* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* HEADER */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;

    /* background-color: red; */
}

.header h1 {
    font-size: clamp(17px, 4vw, 20px);
    white-space: nowrap;

    margin-left: 15px;
}

#header-logo {
    /* width: 32px;
    height: 32px; */

    width: clamp(32px, 7vw, 40px);
    height: clamp(32px, 7vw, 40px);

    border-radius: 40%;
}
.header-nav {
    display: flex;
    justify-content: center;

    padding-top: 7.5px;
    padding-bottom: 7.5px;


    background-color: #1C58DB;
}

.header-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 1100px;

    padding: 0;

    list-style: none;
}

.header-nav ul li a {
    text-decoration: none;
    color: white;
}

.quienes-somos {
    display: flex;
    justify-content: center;

    width: 100%;
    
    background-image: url(../resources//test_img.jpg);
    /* background-repeat: no-repeat; */
    background-position: center; 
    background-size: 100%;
    background-color: grey
}

.quienes-somos div {
    display: grid;
    grid-template-rows: 1fr;
    /* Evitar que el contenido imponga un min-width a las columnas (permite que las celdas se encojan) */
    grid-template-columns: minmax(0, 1.2fr) minmax(0, 1fr);

    width: 100%;

    padding-top: 1.5vw;
    padding-bottom: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;

    backdrop-filter: blur(5px);

    background-color: rgba(102, 51, 153, 0.274);
}

#quienes-somos-text {
    display: flex;
    flex-direction: column;
    /* align-items: center; */

    /* width: clamp(25px, 100vw, 2000px); */

    padding: 10px;

    background-color: rgba(0, 255, 255, 0.258);
}

#quienes-somos-text h2 {
    font-size: 30px;
    font-weight: 800;
    white-space: nowrap;
    color: white;
    
    padding: 10px 10px 10px 15px;
    margin-bottom: 20px;
    
    border-radius: 30px;
    
    background-color: #1C58DB;
}

#quienes-somos-text p {
    color: white;

    justify-content: center;

    padding: 0px 20px;
}

#quienes-somos-img {
    background-color: rgba(162, 255, 0, 0.258);
    display: flex;
    overflow: hidden;
}

/* Asegurar que la imagen dentro del contenedor no exceda su columna */
#quienes-somos-img img,
.quienes-somos img {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

#quienes-somos-img button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 50px;

    font-size: 30px;
    font-weight: 800;
    color: white;

    background-color: rgba(0, 0, 0, 0.556);
    border: 0;
    /* border-radius: 10px 0 0 10px; */

    transition: 0.25s;
}

#quienes-somos-img button:hover {
    font-size: 35px;
}