/* =========== GENERAL =========== */



/* =========== RETOS DE FABIO =========== */

#retos-fabio {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 999;
    
    padding: 15px;
    
    border-radius: 50px;
    
    background: linear-gradient(to bottom, rgb(0, 153, 255), rgb(0, 81, 255));
    color: white;
    
    transition: 0.3s;
}

#retos-fabio img {
    width: 70px;
}

#retos-fabio:hover {
    cursor: pointer;
    scale: 110%;
}


/* =========== QUIENES SOMOS =========== */

.quienes-somos {
    display: flex;
    justify-content: center;
    
    width: 100%;
}

.quienes-somos > div {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 1fr;
    
    max-width: 1200px;
    
    /* padding-top: clamp(5px, 1.4vw, 25px); */
    /* padding-bottom: clamp(10px, 1.7vw, 30px); */
    padding-left: clamp(2px, 1.5vw, 30px);
    padding-right: clamp(2px, 1.5vw, 30px);

    padding-top: 30px;
    padding-bottom: 50px;
    
}



/* -----------> texto <----------- */

#quienes-somos-text {  /* ----------> contenedor */ 
    display: flex;
    flex-direction: column;
    
    padding: 10px 4vw 10px 10px;
}


#quienes-somos-text h2 { /* ----------> subtitulo */ 
    font-size: clamp(20px, 2vw, 30px);
    font-weight: 800;
    white-space: nowrap;
    color: white;
    
    padding: 10px 15px 10px 15px;
    margin-bottom: 20px;
    
    border-radius: 30px;
    
    background: linear-gradient(to bottom, #1C58DB, #1c2fdb);
}

#quienes-somos-text p { /* ----------> parrafo */ 
    font-size: auto;
    
    justify-content: center;

    text-align: justify;
    hyphens: auto;
    
    padding: 0px 5px;
}

/* -----------> imagen <----------- */

#quienes-somos-img { /* ----------> contenedor */ 
    width: 100%;
    height: auto;
    
    align-content: center;

    
    /* overflow: hidden; */
}

#quienes-somos-img img{  /* ----------> imagen */  
    width: 100%;
    height: auto;
    
    border: none !important;
    border-radius: 18% 10px 18% 10px;
    
    background-color: rgba(255, 162, 0, 0.258);
    
    aspect-ratio: auto;
    object-fit: cover;
}

/* -----------> media queries <----------- */

@media (max-width: 600px) {
    
    .quienes-somos > div{
        grid-template-columns: 1fr; /* ------> ajusta la disposicion del grid */
    }
    
    #quienes-somos-img {
        display: none; /* --------> invisibiliza la imagen */
    }
}

/* =========== CARRUSEL =========== */

.carrusel {
    display: flex;
    flex-direction: row;

    margin: 0px;
    padding: 0px;

    width: 100%;

    max-width: 100%;
    overflow: hidden;
    height: 400px;
    position: relative;
}

#carrusel-container {
    display: flex;
    flex-direction: row;

    /* Evitar ancho fijo que provoca overflow en pantallas pequeñas */
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    flex-wrap: nowrap;

    /* Si necesitas un contenedor más ancho para la animación del carrusel,
       controla la anchura con transform/translate en lugar de un width fijo. */

    margin-left: 0px;
    padding: 0px;

    background-color: red;
}

#carrusel-container img {
    width: calc(100% / 2);
    object-fit: cover;
}

.boton-carrusel {
    align-self: center;

    position: absolute;
    /* z-index: 99; */
    
    border: none;
    border-radius: 0px;
    background-color: transparent;
    
    transition: .5s;

    img {
        width: 30px;
        height: 50px;
    }
}

.boton-carrusel:hover {
    scale: 115%;
    cursor: pointer;
}

.boton-carrusel:active {
    scale: .8;
}

#carrusel-izquierda {left: 20px;}
#carrusel-derecha {right: 20px;}

/* =========== ACTIVIDADES Y PROYECTOS =========== */

.actividades-proyectos {
    display: flex;
    flex-direction: column;    
}

.proyectos-general {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    margin-top: 20px;

    background-color: #1C58DB;

    padding-top: 30px;
    padding-bottom: 40px;
}

.proyectos-general h2 {  /* ----------> subtitulo */ 
    font-size: clamp(20px, 2vw, 30px);
    font-weight: 800;
    text-align: center;
    white-space: nowrap;
    color: white;
    
    padding: 0px 15px 10px 15px;
    margin-bottom: 20px;
}

.proyectos-general p {  /* ----------> parrafo */ 
    text-align: center;
    text-wrap: balance;
    color: white;
    
    align-self: center;
    
    max-width: 60%;

    /* margin-bottom: 40px; */
}

/* -----------> proyecto <----------- */

.proyecto {
    display: flex;
    justify-content: center;

    padding-top: 40px;
    padding-bottom: 90px;
    padding-left: clamp(2px, 1.5vw, 30px);
    padding-right: clamp(2px, 1.5vw, 30px);
}

.proyecto > div { 
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    
    max-width: 1200px;

    /* background-color: red; */
    /* padding-top: clamp(5px, 1.2vw, 25px);
    padding-bottom: clamp(10px, 1.5vw, 30px); */

}

/* ----------->> imagen <<----------- */

.proyecto img {
    justify-self: center;
    align-self: center;
    max-width: 400px;
}

/* ----------->> texto <<----------- */

.proyecto > div > div {  /* ----------> contenedor */     
    display: flex;
    flex-direction: column;
    justify-self: left;

    padding: 0px 10px;
}

.proyecto div h3 {  /* ----------> subtitulo */ 
    font-size: clamp(15px, 1.5vw, 25px);
    font-weight: 800;
    text-align: center;
    white-space: nowrap;
    
    padding: 10px 15px 10px 15px;
    margin-bottom: 20px;
}

.proyecto div p {  /* ----------> parrafo */ 
    text-align: justify;
    hyphens: auto;
    text-wrap: balance;
    
    align-self: center;
    
    max-width: 80%;

    margin-bottom: 40px;
}

#actividades-proyectos-button {  /* ----------> boton mas */ 
    align-self: center;

    width: fit-content;
    
    padding: 15px 30px;
    
    border: none;
    border-radius: 25px;
    background: linear-gradient(to bottom, #F29922, #f27222);
    
    transition: .3s;
}

#actividades-proyectos-button h3 {
    font-size: 15px;
    font-weight: 800;
    color: white;
    margin: 0px;
    padding: 0px;   
}


/* =========== EVENTOS =========== */

.eventos {
    display: flex;
    flex-direction: row;
    justify-content: center;

    max-width: 100%;
    
    padding-top: clamp(5px, 1.2vw, 25px);
    padding-bottom: clamp(10px, 1.5vw, 30px);
    padding-left: clamp(2px, 1.5vw, 30px);
    padding-right: clamp(2px, 1.5vw, 30px);
    
    background-color: #1C58DB; 
}

#eventos-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr; 
    column-gap: 50px;
    
    max-width: 1200px;
}

/* -----------> texto <----------- */

#proximo-evento {
    display: flex;
    flex-direction: column;

    color: white;
}

#proximo-evento h2 {
    font-size: clamp(20px, 2vw, 30px);
    font-weight: 800;
    text-align: left;
    white-space: nowrap;
    
    padding: 10px 0px;
    margin-bottom: 20px;
}

#proximo-evento h3 {
    font-size: clamp(15px, 1.5vw, 25px);
    font-weight: 800;
    text-align: left;
    white-space: nowrap;
    
    margin-bottom: 20px;
}

#proximo-evento p {
    text-align: justify;
    hyphens: auto;

    align-self: left;

    margin-bottom: 40px;
}

#eventos-button {
    /* color: #F29922; */
    
    align-self: center;
    
    width: fit-content;
    
    padding: 15px 30px;
    
    border: none;
    border-radius: 25px;
    background-color: white;

    transition: .3s;
}

#eventos-button h3 {
    font-size: 15px;
    font-weight: 800;

    background: linear-gradient(to bottom, #db7c00ff, #ce4f00ff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

    margin: 0px;
    padding: 0px;    
}


/* -----------> calendario <----------- */
#calendario {
    display: grid;
    gap: 0px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "a a a";

    border-radius: 50px;
    background-color: white;
    overflow: hidden;

    /* margin: 0px 50px; */

    :first-child {
        grid-area: a;
        text-align: center;
        justify-content: center;
        align-items: center;

        /* background-color: green; */

        h3 {
            padding: 0px;
            margin: 25px 0px;

            /* background-color: red; */
        }
    }
}

.element {
    width: 100%;
    height: 100%;

    border: 1px solid rgba(0, 0, 0, 0.25);
}



/* =========== UNETE =========== */

.unete {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    max-width: 100%;
}

#unete-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    
    max-width: 1300px;

    padding-top: 50px;
    padding-bottom: 70px;
    padding-left: clamp(2px, 1.5vw, 30px);
    padding-right: clamp(2px, 1.5vw, 30px);
}

#unete-container h2 {
    font-size: clamp(20px, 2vw, 30px);
    font-weight: 800;
    text-align: left;
    white-space: nowrap;
    
    margin-bottom: 20px;
}

#unete-container p {
    text-align: justify;
    hyphens: auto;

    align-self: left;

    margin-bottom: 40px;
}

/* -----------> redes <----------- */

.redes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.redes button {
    display: flex;
    flex-direction: row;

    font-size: 18px;

    justify-content: center;
    align-items: center;
    gap: 20px;

    width: 50%;

    font-weight: 800;

    padding: 20px 0px;
    margin: 20px;

    border: none;
    border-radius: 30px;

    color: white;
    background: linear-gradient(to bottom, #F29922, #f27222);

    transition: .3s;
}

#discord-button {
    /* background: linear-gradient(to bottom, rgb(78, 13, 255), rgb(110, 13, 255)); */
    img {width: 40px;}
}

#instagram-button {
    /* background: linear-gradient(to right, yellow, rgb(255, 38, 0), rgb(255, 0, 225), rgb(153, 0, 255)); */
    img {width: 30px; height: 30px;}
}