* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

img {
    max-width: 100%;
}

/* HEADER */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;

    /* background-color: red; */
}

.header h1 {
    font-size: clamp(17px, 4vw, 20px);
    white-space: nowrap;

    margin-left: 15px;
}

#header-logo {
    /* width: 32px;
    height: 32px; */

    width: clamp(32px, 7vw, 40px);
    height: clamp(32px, 7vw, 40px);

    border-radius: 40%;
}
.header-nav {
    display: flex;
    justify-content: center;

    padding-top: 7.5px;
    padding-bottom: 7.5px;


    background-color: #1C58DB;
}

.header-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 1100px;

    padding: 0;

    list-style: none;
}

.header-nav ul li a {
    text-decoration: none;
    color: white;
}

.quienes-somos {
    display: flex;
    justify-content: center;

    width: 100%;
    
    background-image: url(../resources//test_img.jpg);
    /* background-repeat: no-repeat; */
    background-position: center; 
    background-size: 100%;
    background-color: grey
}

.quienes-somos .container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 1fr;

    width: 100%;

    padding-top: clamp(5px, 1.2vw, 25px);
    padding-bottom: clamp(10px, 1.5vw, 30px);
    padding-left: clamp(2px, 1.5vw, 30px);
    padding-right: clamp(2px, 1.5vw, 30px);

    backdrop-filter: blur(5px);
    /* background-color: rgba(102, 51, 153, 0.274); */
}

@media (width < 600px) {
    .quienes-somos .container {
        grid-template-columns: 1fr;
    }

    #quienes-somos-img {
        display: none;
    }
}

#quienes-somos-text {
    display: flex;
    flex-direction: column;

    padding: 10px 4vw 10px 10px;
    
    /* background-color: rgba(0, 255, 255, 0.258); */
}


#quienes-somos-text h2 {
    /* font-size: 30px; */
    font-size: clamp(20px, 2vw, 30px);
    /* font-size: 2vw; */
    font-weight: 800;
    white-space: nowrap;
    color: white;
    
    padding: 10px 15px 10px 15px;
    margin-bottom: 20px;
    
    border-radius: 30px;
    
    background-color: #1C58DB;
}

#quienes-somos-text p {
    font-size: auto;
    /* text-wrap: pretty;
    hyphenate-limit-chars: 7;
    text-align: justify; */

    color: white;
    
    justify-content: center;
    
    padding: 0px 20px;
}

#quienes-somos-img {
    overflow: hidden;
    
    width: 100%;
    height: auto;

    align-content: center;
    
    
    /* background-color: rgba(162, 255, 0, 0.258); */
}

#quienes-somos-img img{
    max-width: 100%;
    max-height: auto;
    
    width: 100%;
    height: auto;
    
    aspect-ratio: auto !important;
    
    border: 1px solid   rgba(0, 0, 0, 0.2);
    border-radius: 18% 10px 18% 10px;
    
    object-fit: cover;
    /* margin: 10px 50px 10px 10px;; */

    background-color: rgba(255, 162, 0, 0.258);
}